@font-face {
  font-family: "Golos";
  src: url("../../fonts/GolosText-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Golos";
  src: url("../../fonts/GolosText-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Golos";
  src: url("../../fonts/GolosText-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Golos";
  src: url("../../fonts/GolosText-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
