@import '@styles/mixins/media-queries.scss';

.volume {
  display: flex;
  align-items: center;
  &Range {
    accent-color: var(--main-white);
    cursor: pointer;
    width: 119px;
    height: 5px;
    border: none;
  }

  &Icon {
    cursor: pointer;
  }
}

@include portrait-tablet {
  .volume {
    transform: rotateZ(270deg);
    &Range {
      width: 50px;
      height: 3px;
    }
    &Icon {
      width: 24px;
      height: 24px;
      transform: rotateZ(90deg);
    }
  }
}

@include landscape-mobile {
  .volume {
    display: none;
  }
}
