@import '@styles/mixins/media-queries.scss';

.controlWrapper {
  display: flex;
  gap: 22px;

  .controlPrev {
    cursor: pointer;
  }
  .controlPause {
    cursor: pointer;
  }
  .controlNext {
    cursor: pointer;
  }
}

@include portrait-tablet {
  .controlWrapper {
    gap: 12px;
    .controlPrev {
      width: 24px;
      height: 24px;
    }
    .controlNext {
      width: 24px;
      height: 24px;
    }
    .controlPause {
      width: 24px;
      height: 24px;
    }
  }
}
