.bottomPlayer {
  width: 100%;
  height: 112px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--player-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
}

.audioPlayer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.controlWrapper {
  display: flex;
  gap: 22px;

  .controlPrev {
    cursor: pointer;
  }
  .controlPause {
    cursor: pointer;
  }
  .controlNext {
    cursor: pointer;
  }
}

.timeRangeWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timeRange {
  accent-color: var(--main-white);
  cursor: pointer;
  width: 275px;
  height: 5px;
  border: none;

  &Title {
    min-width: 50px;
    max-width: 50px;
  }
}

.volume {
  display: flex;
  align-items: center;
  &Range {
    accent-color: var(--main-white);
    cursor: pointer;
    width: 119px;
    height: 5px;
    border: none;
  }

  &Time {
    cursor: pointer;
  }
}

.audioInfo {
  max-width: 200px;
  min-width: 200px;

  &Img {
    position: absolute;
    left: 0;
    top: -310px;
  }

  &Title {
    cursor: pointer;
    user-select: none;
  }

  &Subtitle {
    cursor: pointer;
    user-select: none;
  }
}
