@import '@styles/mixins/media-queries.scss';

.bottomPlayer {
  width: 100%;
  height: 112px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--player-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
}

.audioPlayer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@include landscape-tablet {
  .bottomPlayer {
    padding: 0 10px;
  }
}

@include portrait-tablet {
  .bottomPlayer {
    height: 90px;
  }
}

@include landscape-mobile {
  .bottomPlayer {
    justify-content: center;
  }
}
