@import '@styles/mixins/media-queries';

@keyframes active-icon {
  0% {
    height: 0px;
  }
  50% {
    height: 18px;
  }
  100% {
    height: 0px;
  }
}

.trackWrapper {
  width: calc(100vw - 370px);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-items: center;

  cursor: pointer;
  flex-grow: 1;
}

.trackPreview {
  display: flex;
  gap: 23px;
  align-items: center;
}

.trackTimeWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.trackTime,
.trackAlbum {
  display: grid;
  justify-content: flex-end;
  text-align: right;
}

.activeIcon {
  transform: rotate(180deg);
}

.activeIcon,
.index {
  width: 28px;
  height: 28px;
}

.trackImgFavorite {
  width: 28px;
  height: 28px;
  margin-left: 50%;
  &:hover {
    svg g path {
      fill: var(--main-green);
      transition: all 0.2s ease-in-out;
    }
  }
  &Active {
    svg g path {
      fill: var(--main-green);
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      svg g path {
        fill: var(--main-white);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.activeIconPlaying {
  svg g rect:nth-child(1) {
    animation: active-icon 3s linear infinite;
  }
  svg g rect:nth-child(2) {
    animation: active-icon 2s linear infinite;
  }
  svg g rect:nth-child(3) {
    animation: active-icon 4s linear infinite;
  }
  svg g rect:nth-child(4) {
    animation: active-icon 1s linear infinite;
  }
  svg g rect {
    transition: all 0.5s ease;
  }
}

@include laptop {
  .trackWrapper {
    width: calc(100vw - 300px);
  }
}

@include landscape-tablet {
  .trackWrapper {
    width: calc(100vw - 210px);
  }
  .trackPreview {
    gap: 5px;
  }
}

@include portrait-tablet {
  .trackWrapper {
    width: calc(100vw - 66px);
  }
  .trackImgFavorite {
    margin-left: 0;
  }
}

@include landscape-mobile {
  .activeIcon,
  .index {
    width: 22px;
    height: 22px;
  }
  .trackImgFavorite {
    width: 22px;
    height: 22px;
  }
  .trackAvatar {
    width: 32px;
    height: 32px;
  }
}
