@import '@styles/mixins/media-queries.scss';

.songWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &Active {
    .songImg {
      opacity: 0.7;
    }
    .songTitle {
      opacity: 0.7;
    }
    .songArtist {
      opacity: 0.7;
    }
    .playImg {
      display: block;
      opacity: 1;
    }
  }

  &:hover {
    .songImg {
      opacity: 0.7;
    }
    .songTitle {
      opacity: 0.7;
    }
    .songArtist {
      opacity: 0.7;
    }
    .playImg {
      display: block;
      opacity: 1;
    }
  }
}

.songImgWrapper {
  position: relative;
  align-self: center;
}

.songImg {
  border-radius: 8px;
  position: relative;
}

.playImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@include laptop {
  .songWrapper {
    width: 210px;
  }

  .songImg {
    width: 180px;
    height: 180px;
  }
}

@include landscape-tablet {
  .songWrapper {
    width: 170px;
  }
  .songImg {
    width: 140px;
    height: 140px;
  }
}

@include portrait-tablet {
  .songWrapper {
    width: 150px;
  }
  .songImg {
    width: 120px;
    height: 120px;
  }
}

@include landscape-mobile {
  .songWrapper {
    width: 140px;
  }
  .songImg {
    width: 100px;
    height: 100px;
  }
}
